{% extends 'base.html' %}
{% block title %} Все товары : {{ block.super }}{% endblock %}


{% block precontent %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% block content %}
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                   <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}" /></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="{{ product.get_absolute_url }}" style="text-decoration: none; color: #6c757d;"><h5 class="fw-bolder">{{ product.title }}</h5></a>
                            <!-- Product price-->
                            {{ product.price }} руб
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'add_to_cart' slug=product.slug %}">Добавить в корзину</a></div>
                    </div>

                </div>
            </div>
            {% endfor %}

            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}