{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block precontent %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif%}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% block content %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Общая цена</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart.products.all %}
                <tr>
                    <th scope="row">{{ item.content_object.title}}</th>
                    <td style="width: 75px; height: auto; border: none;"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
                    <td>{{ item.content_object.price }}</td>
                    <td> {{ item.qty }}</td>
                    <td>{{ item.final_price }} руб</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td>Итог:</td>
                    <td>{{ cart.total_products }}</td>
                    <td><strong>{{ cart.final_price }} руб</strong></td>
                </tr>
                </tbody>
            </table>

            {% endblock %}

        </div>
        <hr>

        <h3 class="text-center mt-5 mb-5">Форма заказа</h3>
        <form action="{% url 'make_order' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn-block" values="Оформить заказ">
        </form>

    </div>

</section>
{% endblock %}