{% extends 'base.html' %}

{% block precontent %}
<div class="container px-7 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center">
        {% block content %}
        <div class="col-md-15">
            <img src="{{ product.image.url }}" style="max-width: 100%; height: auto;" >
        </div>
        <div class="col-md-8">

            <h3>{{ product.title }}</h3>
            <p><h5>Цена: {{ product.price }} руб</h5></p>

                <h5>Описание:</h5>
            <div class="col-md-12">
                <p>{{ product.description }}</p>
                <br>
            </div>
            <h5> Характеристика </h5>
            <h6>Диагональ: {{ product.diagonal }} </h6>
            <h6>Дисплаей: {{ product.display }} </h6>
            <h6>Процессор: {{ product.processor_freq }} </h6>
            <h6>Оперативная память: {{ product.ram }} </h6>
            <h6>Видеокарта: {{ product.video }} </h6>
            <h6>Время работы аккамулятора: {{ product.time_without_charge }} </h6>
            <br>
        </div>

        {% endblock %}

    </div>
</div>
{% endblock %}
